* {
    margin: 0px;
    padding: 0px;
}

#navbar{
    display: flex;
    width: 100%;
    background-color: #2F4F4F;
    align-items: stretch;
    height: auto;
    margin:0px;
    margin-bottom: 50px;

}
#navbar *{
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px; 
    border-color: black; 
    border-radius: 10px; 
    margin-right: 10px;
}

a {
    border: solid 2px black;
    width:14%;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    background-color: #8FBC8F;
    color: black;
    text-decoration: none;
    align-self: center;
}
a:hover{
    background-color: white;
    color: black;
}

#subbtn{
    margin-left: 3px;
    margin-right: 3px;
    border: solid 2px black;
    border-radius: 10px;
    background-color: #20B2AA;
    color: black;
    width: 20%;
    height: auto;
}
#frm{
    display: flex;
    width: 80%;
    background-color: #2F4F4F;
}
#leaf{
    width: 40px;
    margin-left: 50px;;

}