
* {
    margin: 0;
    padding: 0;
}
.box{
    display: flex;
    flex-direction: column;
    border: 20px;
    border-color: blueviolet;
    border-width: 5px;
    background-color: #008B8B;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-left: 2.5%;
    margin-right:2.5%;
    margin-bottom: 5%;
    margin-top: 30px;
    width : fit-content;
    height: fit-content;
    align-items: center;
    align-content: center;
    font-size: xx-large;
    transition: all 0.2s;
}

.boxitem{
    text-align: center;
}
.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
h2{
    margin-top: 8px;
    margin-bottom: 8px;
}
h3{
    margin-top: 8px;
    margin-bottom: 8px;
}
h4{
    margin-top: 8px;
    margin-bottom: 8px;
}
h6{
    margin-top: 8px;
    margin-bottom: 8px;
}

h5{
    margin-top: 8px;
    margin-bottom: 8px;
}

#photu1{
    width: 30%;  
}
#photu2{
    width: 30%;  
}
#reqbtn{
    background-color:cornflowerblue;
    border-radius: 35px;
    width: 100%;
    height: 30%;
    margin-top: 20px;
    text-align: center;
    font-size: larger;
    padding: 20px ;
}
.smallestbox{
    align-items: center;
    justify-content: center;   
}